.breadcrumbs{
  nav.breadcrumb{
    padding-left: 0;
    margin: 0;
  }
  font-size: .9rem;
  background: $brand-light;
  font-family: $headings-font-family;
  font-weight: 300;
  .breadcrumb-item{
    color: $brand-dark;
    &::before{
      content: '\f105';
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
    }
    &:first-child{
      &::before{
        content: '';
        display: none;
      }
    }
  }
}
