.title-carousel{
  background: #d8dede url(../images/intro-bg.jpg) center center no-repeat;
  background-size: cover;

  ol.carousel-indicators{
    position: relative;
    margin: 0;
    justify-content: flex-start;
    li{
      background: $white;
      &.active{
        background: $brand-primary;
      }
    }
  }

  .indicators-holder{
    // margin-top: -40px;
  }

  .carousel-item{
    min-height: 300px;
    padding: 30px 0;

    .slide-text{
      padding-top: 2.5rem;
      @include media-breakpoint-down(md) {
        padding-top: .4rem;
      }

      h3{
        font-size: 2.7rem;
        font-weight: bold;
        line-height: 1.1;
        color: #3a4e4e;
        @include media-breakpoint-down(md) {
          font-size: 1.7rem;
        }
        &::after{
          content: "";
          display: block;
          width: 65px;
          height: 5px;
          background: #e1393e;
          margin: 1.5rem 0 1.3rem 0;
        }
      }
      p{
        font-family: $headings-font-family;
        font-weight: 300;
        font-size: 1.5rem;
        color: $gray-text-color;
        line-height: 1.3;
        @include media-breakpoint-down(md) {
          font-size: 1rem;
        }
      }
    }
  }
}
