.card-deck{
  .news-item {
    margin-bottom: 0;
  }
}
.card{
  font-family: $headings-font-family;
  .card-body{
    position: relative;
  }

  .date{
    position: absolute;
    top: -.7rem;
    background: $brand-primary;
    display: inline-block;
    padding: .2rem .4rem;
    color: $white;
    font-size: .7rem;
  }

  .card-title{
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1;
  }
  .card-text{
    font-weight: 300;
    color: #515154;
    line-height: 1.3;
  }
}

.left-column-news{
  margin: 4rem 0;
  h3{
    margin-bottom: 2rem;
  }
}

.news-item{
  margin-bottom: 2rem;
}
