section.contacts{
  position: relative;
  min-height: 300px;
  padding: 0;
  overflow: hidden;

  #googleMap {
    background: #000;
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 0;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .contact-form{
    padding: 4rem 2rem;
    background: $white;
    min-height: 300px;
    box-shadow: 5px 5px 120px rgba($black, .33);
    @include media-breakpoint-down(sm) {
      box-shadow: none;
    }

    .form-control{
      border: none;
      background: rgba(#ccc, .44);
      border-radius: 0;
    }
  }
}
