$brand-primary: #e1393e;
$link-color: $brand-primary;
$headings-font-family: 'Roboto Condensed', sans-serif;
$font-family-sans-serif: 'Roboto', sans-serif;

$card-border-width: 0;
$card-border-radius: 0;


$breadcrumb-padding-y:          .75rem;
$breadcrumb-padding-x:          1rem;
$breadcrumb-item-padding:       .5rem;

$breadcrumb-margin-bottom:      1rem;

$breadcrumb-bg:                 transtarent;
$breadcrumb-divider-color:      $brand-primary;
$breadcrumb-active-color:       $brand-primary;
$breadcrumb-divider:            "";

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$theme-colors: (
  primary: $brand-primary,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);

$border-radius:          0;
$border-radius-lg:       0;
$border-radius-sm:       0;
