footer{
  font-family: $headings-font-family;
  font-weight: 300;
  color: $white;
  padding: 40px 0;
  background: $brand-dark url(../images/dark-bg.jpg);

  .contacts{
    text-align: right;
    @include media-breakpoint-down(xs) {
      margin-top: 40px;
      text-align: left;
    }
    .phone{
      margin-top: 1rem;
      font-size: 1.7rem;
      font-weight: 300;
      @include media-breakpoint-down(sm) {
        font-size: 1.2rem;
      }
    }
  }

  .bottom-menu{
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    list-style: none;
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
    li{
      list-style: none;
      padding: 0;
      margin: 0 0 .5rem 0;
      a{
        color: $white;
        text-decoration: underline;
      }
    }
  }
}
