header{
  padding: 35px 0;
  font-family: $headings-font-family;
  font-weight: normal;

  .top-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top-link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
    .icon{
      margin-right: .5rem;
    }
  }
}
.top-menu{
  color: $white;
  background: $brand-dark url(../images/dark-bg.jpg);

  &.navbar {
    padding: 0 1rem;
    min-height: 0px;
  }
  .navbar-toggler{
    color: $white;
  }

  ul.navbar-nav{
    min-height: 60px;
    > li{
      a{
        height: 60px;
        line-height: 60px;
        display:block;
        padding: 0 1rem;
        font-size: 16px;
        text-transform: uppercase;
        color: $white;
        font-family: $headings-font-family;
        font-weight: normal;
        transition: .4s all ease-in-out;
        &:hover{
          text-decoration: none;
          background: rgba($white, .11);
        }
      }
      &.submenu{
        > a{
          &::after{
            content: "\f107";
            color: $brand-primary;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            margin-left: .3rem
          }
        }
        ul{
          padding: 0;
          margin: 0;
          list-style: none;
          position: absolute;
          display: none;
          background: #283637;
          max-width: 200px;
          z-index: 9999;
          li{
            a{
              height: auto;
              line-height: 1;
              padding: .7rem 1rem;
              font-size: .9rem;
              font-weight: 300;
              text-transform: none;
              border-bottom: 1px solid rgba($white, .11);
              border-top: 1px solid rgba($black, .11);
              &:hover{
                background: $brand-primary;
              }
            }
          }
        }
        &:hover{
          > a{
            text-decoration: none;
            background: rgba($white, .11);
          }
          ul{
            display:block;
          }
        }
      }
      &.active{
        a{
          background: $brand-primary;
          color: $white;
          &::after{
            color: $brand-dark;
          }
        }
      }
    }
  }

}
