.page-intro{
  background: #6a8283;

  .intro-content{
    min-height: 170px;
    padding: 1.5rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .icon{
      padding-right: 2rem;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    .title{
      color: $white;
      h3{
        text-transform: uppercase;
        font-weight: bold;
        small{
          font-weight: 300;
          text-transform: none;
          display: block;
        }
      }
    }
  }
  &.library{
    background: #6a8283 url(../images/lib-intro.jpg) left center no-repeat;
    background-size: cover;
  }
  &.catalog{
    background: #6a8283 url(../images/catalog-intro.jpg) center center no-repeat;
    background-size: cover;
  }
}
