.lib-catalog{
  margin-bottom: 3rem;
  h3{
    font-size: 1.3rem;
    font-weight: bold;
    &::before{
      content: '\f0a9';
      color: $brand-primary;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      margin-right: .5rem;
    }
  }
  .author{
    color: #7d9394;
    font-style: italic;
  }
  ul{
    // font-size: .9rem;
    margin-left: 0;
    padding-left: .9rem;
    li{
      margin-bottom: .5rem;
      line-height: 1.3;
      .fa{
        color: #7d9394;
        top: .28rem
      }
      a{
        color: $brand-dark;
        text-decoration: underline;
      }
    }
  }
}
