.menu-card{
  margin-top: -$section-padding;

  .card-body{
    background: $brand-light;
    border-top: 1px solid $white;

    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        margin-bottom: 1.5rem;
        padding-left: 1rem;
        position: relative;

        &::before{
          position: absolute;
          left: 0rem;
          content: '\f105';
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          color: #7d9394;
        }
        a{
          font-size: 1.1rem;
          font-weight: bolder;
          line-height: 1.2;
          color: $brand-dark;
        }
      }
    }
  }
}
