.title-catalog{
  .logo-eaton{
    margin-bottom: 2rem;
  }
  .logo-delta{
    margin-top: -32px;
    margin-bottom: 2rem;
    @include media-breakpoint-down(xs) {
      margin-top: 30px;
    }
  }
  .border-right{
    border-left: 1px solid $brand-light;
  }
  .pl{
    padding-left: 40px;
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }
  .pr{
    padding-right: 40px;
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  ul{
    font-family: $headings-font-family;
    font-weight: normal;
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      position: relative;
      padding: 0 0 0 2rem;
      margin: 0;
      list-style: none;
      &::before{
        position: absolute;
        top: .7rem;
        left: 0;
        content: '';
        width: 1.5rem;
        height: 3px;
        background: $brand-primary;
      }
      a{
        color: $gray-800;
      }
    }
  }
}

.title-news{
  background: $brand-light;
}

.info{
  background: $brand-light;
  font-family: $headings-font-family;

  .info-item{
    display: flex;
    margin-bottom: 2rem;
    .icon{
      height: 42px;
      width: 42px;
      line-height: 42px;
      color: $white;
      background: $brand-primary;
      text-align: center;
      font-size: 24px;
      border-radius: 8px;
    }
    .text{
      padding-left: 1rem;
    }
    h3{
      font-weight: bold;
      font-size: 1.4rem
    }
    p{
      color: $gray-text-color;
      font-weight: 300;
    }
  }
}

.red-line{
  background: $brand-primary;
  font-family: $headings-font-family;

  .red-line-item{
    display: flex;
    justify-content: center;
    line-height: 1;
    &-v{
      flex-direction: column;
      text-align: center;
      @include media-breakpoint-down(sm) {
        margin-bottom: 3rem;
      }
      a{
        align-self:center;
        color: $white;
        font-size: 1.2rem;
      }
      .icon{
        align-self: center;
        margin-bottom: .7rem;
      }
    }
    a{
      align-self: center;
      font-size: 1.5rem;
      font-weight: 300;
      color: $white;
    }
    .icon{
      align-self: center;
      margin-right: 1rem;
    }
  }
}
