// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;

$brand-dark: #2f4142;
$brand-light: #f0f2f2;
$gray-text-color: #8a9393;

$section-padding: 3rem;

@import "_custom";
@import "bootstrap";
@import "font-awesome";

@import "_responsive";
@import "_header";
@import "_title";
@import "_breadcrumbs";
@import "_navigation";
@import "_intro";
@import "_content";
@import "_library";
@import "_carousel";
@import "_cards";
@import "_contacts";
@import "_footer";


h2{
  font-weight: bold;
  margin-bottom: 2.4rem;
}

label{
  font-family: $headings-font-family;
  text-transform: uppercase;
}

p.lead{
  color: #8a9393;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;

  &::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 0px;
    border-right: 5px solid $brand-primary;
    top: 0;
    left: -30px;
    background: transparent;
  }
}

section{
  padding: $section-padding 0;
}

ul.dash-list{
  padding: 0;
  margin: 0;
  li{
    list-style: none;
    position: relative;
    padding: 0 0 0 2rem;
    margin-bottom: 1rem;

    &::before{
      position: absolute;
      top: .7rem;
      left: 0;
      content: '';
      width: 1.5rem;
      height: 3px;
      background: $brand-primary;
    }
  }
}

.link-holder{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.btn-holder{
  text-align: center;
  margin: 2rem 0;
}

.btn{
  font-family: $headings-font-family;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.icon-link{
  margin: 0 1rem;
  display: flex;
  align-items: center;
  font-family: $headings-font-family;

  .icon{
    margin-right: .6rem;
  }
  .text{
    color: #acb2b2;
    a{
      font-size: 1.1rem;
      text-decoration: underline;
      display:block;
    }
  }
}

.gallery{
  text-align: center;
  margin-bottom: 2rem;
}

.table{
  font-family: $headings-font-family;
}

.catalog-item{
  padding: 2rem 0;
  border-top: 1px solid #e8ebeb;

  .spec{
    font-family: $headings-font-family;
    a{
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
