<section class="about-title">
  <div class="container">
    <h2>О компании</h2>
    <div class="row">
      <div class="col-sm-7">
        <p class="lead">
          История сотрудничества корпорации Eaton (ранее Powerware) и компании Landata ведет свое начало с 1998 года, когда компания Landata начала поставлять на российский рынок ИБП под маркой Best Power. В 2001 году, после слияния двух марок Best Power и Powerware, Landata стала дистрибутором Powerware.
        </p>
        <p>
          В 2004 году в компании Landata произошел взрывной рост продаж источников бесперебойного питания: объем продаж ИБП по итогам года вырос на 80%, а продажи источников мощностью более 6 кВА выросли в 12 раз. В 2005 году в Landata объем продаж ИБП вырос еще в 2,5 раза, и суммарная мощность всех проданных ИБП Powerware составила более 8 мВА. Такой стремительный рост по направлению ИБП стал результатом планомерной работы, проводимой компанией Landata. Осенью 2004 года в компании был открыт Департамент Систем Бесперебойного Питания. Наличие специального отдела, занимающегося тяжелыми системами бесперебойного питания, позволило существенно повысить конкурентоспособность компании на рынке, так как поставка систем мощностью от 8 кВА требует наличия квалифицированного штата инженеров, способных осуществить необходимые предпроектные работы, сконфигурировать, установить систему, а также оказать требующуюся сервисную поддержку в дальнейшем.
        </p>
      </div>
      <div class="col-sm-5">
        <img class="img-fluid" src="../images/about-pic.png" alt="">
      </div>
    </div>
  </div>
</section>
