<div class="page-intro library">
  <div class="container">
    <div class="intro-content">
      <div class="icon">
        <img src="../images/lib.png" alt="">
      </div>
      <div class="title">
        <h3><small>Наиболее полная</small>
          библиотека по ИБП</h3>
      </div>
    </div>
  </div>
</div>
