<div class="page-intro catalog">
  <div class="container">
        <!-- <h3>Landata<small>главный дистрибутор</small></h3> -->
        <img class="img-fluid" src="../images/catalog-intro.png" alt="">
  </div>
</div>
