<div class="breadcrumbs">
  <div class="container">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
      <a class="breadcrumb-item" href="#">Каталог ИБП</a>
      <a class="breadcrumb-item" href="#">ИБП Eaton Powerware</a>
      <span class="breadcrumb-item active">ИБП большой мощности для защиты офисов, банков, промышленных линий</span>
    </nav>
  </div>
</div>
