<section class="contacts">
  <div id="googleMap"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="contact-form">
          <div class="form-group"><label>Ваше Имя</label><input type="text" class="form-control"></div>
          <div class="form-group"><label>Электронная почта</label><input type="text" class="form-control"></div>
          <div class="form-group"><label>Сообщение</label><textarea rows="5" class="form-control"></textarea></div>

          <div class="btn-holder inverse-colors"><button class="btn btn-default">Send Message</button></div>
        </div>
      </div>
    </div>
  </div>
</section>
