<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul class="bottom-menu">
          <li><a href="#">Что такое ИБП</a></li>
          <li><a href="#">Отличие источников</a></li>
          <li><a href="#">Как рассчитать мощность</a></li>
          <li><a href="#">Перед включением ИБП</a></li>
          <li><a href="#">Бибилиотека ИБП</a></li>
          <li><a href="#">Запрос стоимости ИБП</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="bottom-menu">
          <li><a href="#">О компании</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Каталог</a></li>
          <li><a href="#">Сервис ИБП</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Партнёрская программа</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <div class="contacts">
          <div class="logo"><img class="img-fluid" src="../images/logo-white.png" alt=""></div>
          <p class="phone">+7 (495) 925-76-20</p>
          <p class="address">Москва, Киевское шоссе, 2 км от МКАД, дом. 6, стр.1.<br><strong>Общий e-mail отдела:</strong> <a href="mailto:power@landata.ru">power@landata.ru</a></p>
          <p><a href="#">вход для партнёров</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
