<header>
  <div class="container">
    <div class="row">
      <div class="col-5 col-sm-4">
        <div class="logo">
          <a href="#"><img class="img-fluid" src="../images/logo.png" alt=""></a>
        </div>
      </div>
      <div class="col-7 col-sm-8 text-right">
        {{> topLinks }}
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</header>
