<section class="info">
  <div class="container">

    <div class="row">
      <div class="col-sm-4">
        <div class="info-item">
          <div class="icon-holder">
            <div class="icon"><i class="fa fa-book" aria-hidden="true"></i></div>
          </div>
          <div class="text">
            <h3>Бибилиотека ИБП</h3>
            <p>Почитать об  обеспечении гарантии, сервиса Скачать инструкции на русском по обеспечении гарантии.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="info-item">
          <div class="icon-holder">
            <div class="icon"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
          </div>
          <div class="text">
            <h3>Что такое ИБП</h3>
            <p>Почитать об  обеспечении гарантии, сервиса Скачать инструкции на русском по обеспечении гарантии.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="info-item">
          <div class="icon-holder">
            <div class="icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
          </div>
          <div class="text">
            <h3>Отличие источников</h3>
            <p>Почитать об  обеспечении гарантии, сервиса Скачать инструкции на русском по обеспечении гарантии.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="info-item">
          <div class="icon-holder">
            <div class="icon"><i class="fa fa-bolt" aria-hidden="true"></i></div>
          </div>
          <div class="text">
            <h3>Как рассчитать мощность</h3>
            <p>Почитать об  обеспечении гарантии, сервиса Скачать инструкции на русском по обеспечении гарантии.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="info-item">
          <div class="icon-holder">
            <div class="icon"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
          </div>
          <div class="text">
            <h3>Перед включением ИБП</h3>
            <p>Почитать об  обеспечении гарантии, сервиса Скачать инструкции на русском по обеспечении гарантии.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="info-item">
          <div class="icon-holder">
            <div class="icon"><i class="fa fa-money" aria-hidden="true"></i></div>
          </div>
          <div class="text">
            <h3>Запрос стоимости ИБП</h3>
            <p>Почитать об  обеспечении гарантии, сервиса Скачать инструкции на русском по обеспечении гарантии.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
