<div class="jumbotron" style="background: transparent; padding: 20% 1rem">
  <h1 class="display-3">Hello wording</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-outline-primary btn-lg" href="" role="button">Learn more</a>
  </p>
</div>
