<div class="card left-menu menu-card">
  <img class="card-img-top" src="../images/catalog/eaton-category.jpg" alt="Card image cap" />
  <div class="card-body">
    <ul>
      <li><a href="#">ИБП для рабочих станций, недорогих серверов, сетевого оборудования</a></li>
      <li><a href="#">ИБП большой мощности для защиты офисов, банков, промышленных линий</a></li>
      <li><a href="#">ИБП структуры on-line для ответственных рабочих станций, серверов, промышленных контроллеров, коммуникационного оборудования</a></li>
      <li><a href="#">Средства распределение питания в стойке, средства управления ИБП и нагрузкой</a></li>
    </ul>
  </div>
</div>
