<nav class="navbar navbar-expand-lg top-menu">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">
        <li><a href="#">О компании</a></li>
        <li class="submenu"><a href="#">Каталог ИБП</a>
          <ul>
            <li><a href="#">Test menu item</a></li>
            <li><a href="#">Test menu item</a></li>
            <li><a href="#">Test menu item</a></li>
            <li><a href="#">Test menu item</a></li>
          </ul>
        </li>
        <li class="submenu"><a href="#">Полезная информация</a></li>
        <li class="submenu active"><a href="#">Сервис ИБП</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>

    </div>
  </div>
</nav>
