<table class="table table-striped">
  <tbody>
    <tr ><td width="30%" style="border-image: initial;"><strong>Технические характеристики</strong></td><td width="35%" style="border-image: initial;"><strong>Eaton 3S 550</strong></td><td width="35%" style="border-image: initial;"><strong>Eaton 3S 700</strong></td></tr>

    <tr><td style="border-image: initial;">Номинальная мощность (ВА/Вт)</td><td style="border-image: initial;">550 ВА / 330 Вт</td><td style="border-image: initial;">700 ВА /&nbsp;420 Вт</td></tr>

    <tr ><td colspan="3" style="border-image: initial;"><strong>Применение</strong></td></tr>

    <tr><td style="border-image: initial;">Конфигурация выходов (модели FR/DIN)</td><td colspan="2" style="border-image: initial;">3 розетки с резервным питанием от батарей и защитой от скачков напряжения + 3 розетки с защитой от скачков напряжения</td></tr>

    <tr><td style="border-image: initial;">Конфигурация выходов (модели IEC)</td><td colspan="2" style="border-image: initial;">4 розетки с резервным питанием от батарей и защитой от скачков напряжения + 4 розетки с защитой от скачков напряжения</td></tr>

    <tr><td  colspan="3" style="border-image: initial;"><strong>Характеристики</strong></td></tr>

    <tr><td style="border-image: initial;">Входное напряжение</td><td colspan="2" style="border-image: initial;">До 161&nbsp;-&shy;284 В (настраивается)</td></tr>

    <tr><td style="border-image: initial;">Выходное напряжение</td><td colspan="2" style="border-image: initial;">230 В (по выбору 220 В, 230 В или 240 В)</td></tr>

    <tr><td style="border-image: initial;">Частота</td><td colspan="2" style="border-image: initial;">50&shy;-60 Гц, автовыбор</td></tr>

    <tr><td style="border-image: initial;">Входная защита</td><td colspan="2" style="border-image: initial;">Автоматический выключатель с возможностью повторного включения</td></tr>

    <tr ><td colspan="3" style="border-image: initial;"><strong>Батарея</strong></td></tr>

    <tr><td style="border-image: initial;">Тип батарей</td><td colspan="2" style="border-image: initial;">Компактные, герметичные свинцово&shy;кислотные
        <br>
       (заменяемые)</td></tr>

    <tr><td style="border-image: initial;">Тест батарей</td><td style="border-image: initial;">Да</td><td style="border-image: initial;">Да</td></tr>

    <tr><td style="border-image: initial;">Холодный запуск (без сетевого питания)</td><td style="border-image: initial;">Да</td><td style="border-image: initial;">Да</td></tr>

    <tr><td style="border-image: initial;">Защита от глубокого разряда</td><td style="border-image: initial;">Да</td><td style="border-image: initial;">Да</td></tr>

    <tr><td style="border-image: initial;">Индикатор замены батареи</td><td style="border-image: initial;">Светодиодный</td><td style="border-image: initial;">Светодиодный</td></tr>

    <tr><td style="border-image: initial;">Время работы от батарей при загрузке 50%</td><td style="border-image: initial;">10 минут</td><td style="border-image: initial;">9 минут</td></tr>

    <tr><td style="border-image: initial;">Время работы от батарей при загрузке 70%</td><td style="border-image: initial;">6 минут</td><td style="border-image: initial;">6 минут</td></tr>

    <tr ><td colspan="3" style="border-image: initial;"><strong>Коммуникации</strong></td></tr>

    <tr><td style="border-image: initial;">Коммуникационный порт</td><td colspan="2" style="border-image: initial;">HID&shy;совместимый порт USB с автоматической интеграцией во все основные ОС (Windows XP, Vista и 7, Linux, Mac OS X), кабель в комплекте</td></tr>

    <tr><td style="border-image: initial;">Защита линий связи</td><td colspan="2" style="border-image: initial;">Телефон/модем/интернет/Ethernet</td></tr>

    <tr ><td colspan="3" style="border-image: initial;"><strong>Стандарты</strong></td></tr>

    <tr><td width="30%" style="border-image: initial;">Безопасность</td><td width="35%" style="border-image: initial;">IEC/EN 62040&shy;1&shy;1, CE mark</td><td style="border-image: initial;">&nbsp;</td></tr>

    <tr><td width="30%" style="border-image: initial;">ЭМС</td><td width="35%" style="border-image: initial;">IEC 62040&shy;2</td><td style="border-image: initial;">&nbsp;</td></tr>

    <tr ><td colspan="3" style="border-image: initial;"><strong>Размеры, вес и цвет</strong></td></tr>

    <tr><td style="border-image: initial;">Размеры (В х Ш х Г)</td><td style="border-image: initial;">86 x 140 x 335 мм</td><td style="border-image: initial;">86 x 170 x 335 мм</td></tr>

    <tr><td style="border-image: initial;">Вес</td><td style="border-image: initial;">2.9 кг </td><td style="border-image: initial;">3.8 кг</td></tr>

    <tr><td style="border-image: initial;">Цвет</td><td style="border-image: initial;">Черный</td><td style="border-image: initial;">Черный</td></tr>

    <tr ><td colspan="3" style="border-image: initial;"><strong>Техническая поддержка и сервис</strong></td></tr>

    <tr><td style="border-image: initial;">Двухлетняя гарантия</td><td style="border-image: initial;">Замена или ремонт оборудования, включая батареи</td><td style="border-image: initial;">&nbsp;</td></tr>

    <tr><td width="30%" style="border-image: initial;">Номера изделий</td><td width="35%" style="border-image: initial;">550</td><td width="35%" style="border-image: initial;">700</td></tr>

    <tr><td width="30%" style="border-image: initial;">Розетки Schuko (DIN)</td><td width="35%" style="border-image: initial;">3S550DIN</td><td width="35%" style="border-image: initial;">3S700DIN</td></tr>

    <tr><td width="30%" style="border-image: initial;">Розетки IEC</td><td width="35%" style="border-image: initial;">3S550IEC</td><td width="35%" style="border-image: initial;">3S700IEC</td></tr>
   </tbody>
 </table>
