<section class="red-line">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="red-line-item-v">
          <div class="icon"><img src="../images/icons/service.svg" alt=""></div>
          <a href="#">Сервис</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="red-line-item-v">
          <div class="icon"><img src="../images/icons/certificate.svg" alt=""></div>
          <a href="#">Сертификаты</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="red-line-item-v">
          <div class="icon"><img src="../images/icons/folder.svg" alt=""></div>
          <a href="#">Брошюры</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="red-line-item-v">
          <div class="icon"><img src="../images/icons/partner.svg" alt=""></div>
          <a href="#">Партнёрская программа</a>
        </div>
      </div>

    </div>
  </div>
</section>
