<section class="red-line">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="red-line-item">
          <div class="icon"><img src="../images/icons/document.svg" alt=""></div>
          <a href="#">Каталог</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="red-line-item">
          <div class="icon"><img src="../images/icons/calc.svg" alt=""></div>
          <a href="#">Расчёт стоимости</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="red-line-item">
          <div class="icon"><img src="../images/icons/bulb.svg" alt=""></div>
          <a href="#">Сервис ИБП</a>
        </div>
      </div>
    </div>
  </div>
</section>
