<section class="title-news">
  <div class="container">
    <h2>Новости вендеров</h2>
    <div class="card-deck">
      <div class="card news-item">
        <img class="card-img-top" src="../images/news/ups-data-center.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="date">12.12.2017</div>
          <h4 class="card-title">ИБП Eaton 93E 15-80 и 100-400 кВА в Landata: выгодные бонусы!</h4>
          <p class="card-text">Компания Landata совместно с компанией Eaton объявляет о втором этапе программы по трехфазным ИБП 93Е.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../images/news/ups-data-center.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="date">12.12.2017</div>
          <h4 class="card-title">ИБП Eaton 93E 15-80 и 100-400 кВА в Landata: выгодные бонусы!</h4>
          <p class="card-text">Компания Landata совместно с компанией Eaton объявляет о втором этапе программы по трехфазным ИБП 93Е.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../images/news/ups-data-center.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="date">12.12.2017</div>
          <h4 class="card-title">ИБП Eaton 93E 15-80 и 100-400 кВА в Landata: выгодные бонусы!</h4>
          <p class="card-text">Компания Landata совместно с компанией Eaton объявляет о втором этапе программы по трехфазным ИБП 93Е.</p>
        </div>
      </div>
    </div>
  </div>
</section>
