<section class="title-catalog">
  <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="pr">
        <div class="logo-eaton">
          <img src="../images/eaton-logo.png" alt="">
        </div>

        <div class="row">
          <div class="col-md-6">
            <ul>
              <li><a href="#">Каталог</a></li>
              <li><a href="#">Сервис</a></li>
              <li><a href="#">Партнёрская программа</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li><a href="#">Каталог</a></li>
              <li><a href="#">Сервис</a></li>
              <li><a href="#">Партнёрская программа</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 border-right">
      <div class="pl">
        <div class="logo-delta">
          <img src="../images/delta-logo.png" alt="">
        </div>

        <div class="row">
          <div class="col-md-6">
            <ul>
              <li><a href="#">Каталог</a></li>
              <li><a href="#">Сервис</a></li>
              <li><a href="#">Партнёрская программа</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li><a href="#">Каталог</a></li>
              <li><a href="#">Сервис</a></li>
              <li><a href="#">Партнёрская программа</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
</section>
