<div class="top-links d-none d-lg-flex">
  <div class="top-link">
    <div class="icon"><img src="images/icons/envelope.svg" alt=""></div>
    <a href="mailto:power@landata.ru">power@landata.ru</a>
  </div>
  <div class="top-link">
    <div class="icon"><img src="images/icons/phone.svg" alt=""></div>
    <a href="#">+7 (495) 925-76-20</a>
  </div>
  <div class="top-link">
    <div class="icon"><img src="images/icons/profile.svg" alt=""></div>
    <a href="#">вход для партнёров</a>
  </div>
</div>
