---
title: Library catalog...
---

{{> bannerCatalog }}
{{> breadcrumbs }}

<section class="main-content">
  <div class="container">
    <h2>Решения для офисных рабочих станций,<br>домашних компьютеров и периферии</h2>

    <div class="catalog-list">

      <div class="catalog-item">
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid" src="../images/catalog/cat1.jpg" alt="">
          </div>
          <div class="col-md-5">
            <div class="description">
              <h3>ИБП Eaton 3S</h3>
              <p>ИБП Eaton 3S - это ИБП 3 серии, защищающий ценные данные на персональных компьютерах и рабочих станциях от трёх основных неполадок с питанием: исчезновений напряжения, импульсов и провалов напряжения.</p>
              <p>
                <button type="button" class="btn btn-primary">Запрос стоимости ИБП</button>
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="spec">
              <p>Мощность - 550,700 ВА</p>
              <p>​Тип,фазы вход/выход - 1ф/1ф</p>
              <p><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Скачать инструкции</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="catalog-item">
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid" src="../images/catalog/cat1.jpg" alt="">
          </div>
          <div class="col-md-5">
            <div class="description">
              <h3>ИБП Eaton 3S</h3>
              <p>ИБП Eaton 3S - это ИБП 3 серии, защищающий ценные данные на персональных компьютерах и рабочих станциях от трёх основных неполадок с питанием: исчезновений напряжения, импульсов и провалов напряжения.</p>
              <p>
                <button type="button" class="btn btn-primary">Запрос стоимости ИБП</button>
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="spec">
              <p>Мощность - 550,700 ВА</p>
              <p>​Тип,фазы вход/выход - 1ф/1ф</p>
              <p><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Скачать инструкции</a></p>
            </div>
          </div>
        </div>
      </div>


      <div class="catalog-item">
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid" src="../images/catalog/cat1.jpg" alt="">
          </div>
          <div class="col-md-5">
            <div class="description">
              <h3>ИБП Eaton 3S</h3>
              <p>ИБП Eaton 3S - это ИБП 3 серии, защищающий ценные данные на персональных компьютерах и рабочих станциях от трёх основных неполадок с питанием: исчезновений напряжения, импульсов и провалов напряжения.</p>
              <p>
                <button type="button" class="btn btn-primary">Запрос стоимости ИБП</button>
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="spec">
              <p>Мощность - 550,700 ВА</p>
              <p>​Тип,фазы вход/выход - 1ф/1ф</p>
              <p><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Скачать инструкции</a></p>
            </div>
          </div>
        </div>
      </div>


      <div class="catalog-item">
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid" src="../images/catalog/cat1.jpg" alt="">
          </div>
          <div class="col-md-5">
            <div class="description">
              <h3>ИБП Eaton 3S</h3>
              <p>ИБП Eaton 3S - это ИБП 3 серии, защищающий ценные данные на персональных компьютерах и рабочих станциях от трёх основных неполадок с питанием: исчезновений напряжения, импульсов и провалов напряжения.</p>
              <p>
                <button type="button" class="btn btn-primary">Запрос стоимости ИБП</button>
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="spec">
              <p>Мощность - 550,700 ВА</p>
              <p>​Тип,фазы вход/выход - 1ф/1ф</p>
              <p><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Скачать инструкции</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{{> redline }}
{{> contacts }}
