---
title: Product page
---

{{> breadcrumbs }}

<section class="product-content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {{> leftMenuCard }}
        {{> news }}
      </div>
      <div class="col-md-8">
        <h2>ИБП Eaton 3S</h2>
        <p class="lead">История сотрудничества корпорации Eaton (ранее Powerware) и компании Landata ведет свое начало с 1998 года, когда компания Landata начала поставлять на российский рынок ИБП под маркой Best Power. В 2001 году, после слияния двух марок Best Power и Powerware, Landata стала дистрибутором Powerware. </p>

        <div class="link-holder">
          <div class="icon-link">
            <div class="icon"><img src="../images/icons/book.svg" alt=""></div>
            <div class="text">
              <a href="#">Брошюра Eaton 3s</a>
              <span class="description">PDF (265 Kb)</span>
            </div>
          </div>
          <div class="icon-link">
            <div class="icon"><img src="../images/icons/cert.svg" alt=""></div>
            <div class="text">
              <a href="#">Сертификат Eaton 3s</a>
              <span class="description">PDF (265 Kb)</span>
            </div>
          </div>
        </div>

        <p>ИБП Eaton 9SX выпускаются в универсальном исполнении (для установки на пол или в стойку) и имеют следующие преимущества:</p>
        <ul class="dash-list">
          <li>Широкий диапазон без перехода на батареи: 176-276 В при 100% нагрузке (до 100–276 В со снижением нагрузки) позволяет использовать ИБП в сложных российских условиях</li>
          <li>ИБП имеют наивысший в своем классе КПД: 95% в режиме двойного преобразования и 98% в режиме высокой производительности. Это позволяет снизить затраты на эксплуатацию ИБП и его охлаждение.</li>
          <li>ИБП имеет высокий выходной коэффициент мощности 0,9, т.е. ИБП 5 кВА/4.5 кВт, 6 кВА/5.4 кВт, 8 кВА/7.2 кВт, 11 кВА/10 кВт. ИБП может обеспечить питанием больше нагрузки, чем ИБП той же мощности в кВА, но с меньшим коэффициентом мощности.</li>
          <li>ИБП имеют возможность горячей замены батарей с передней панели без отключения питания нагрузки.</li>
          <li>ИБП имеет возможность подключать большие внешние батареи. Продолжительность автономной работы можно увеличить путем подключения 12 дополнительных внешних батарейных модулей. Дополнительные внешние батарейные модули распознаются ИБП автоматически.</li>
          <li>Для моделей 5 и 6 кВА, ИБП имеет возможность управлять сегментами розеток. Это позволяет увеличить время автономной работы для критически важных приложений.</li>
          <li>ИБП имеет возможность удаленного перезапуска нагрузки (например, зависшего компьютера).</li>
        </ul>

        <div class="btn-holder">
          <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Подробнее</button>
        </div>

        <div class="gallery">
          <div class="row">
            <div class="col-md-4"><img class="imf-fluid" src="../images/catalog/p1.jpg" alt=""></div>
            <div class="col-md-4"><img class="imf-fluid" src="../images/catalog/p2.jpg" alt=""></div>
            <div class="col-md-4"><img class="imf-fluid" src="../images/catalog/p3.jpg" alt=""></div>
          </div>
        </div>

        {{> productTable }}
      </div>
    </div>
  </div>
</section>

{{> redline }}
{{> contacts }}
