<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Panini Page Title Variable: Can be customized on
    page's frontmatter -->
    <title>{{ title }} - Landata</title>

    <!--defer-->
    <link rel="stylesheet" href="{{root}}styles/app.css">
    <!--enddefer-->

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet">
    <link href="{{root}}images/favicon.png" rel="icon" type="image/png">
  </head>
  <body>
    {{> header }}
    {{> navbar }}

    {{> body }} <!-- app/pages/**/*.html -->

    {{> footer }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbHzIAHX7-xXRdxCvtgno94i9lne74_IA&callback=showGoogleMaps" async defer></script>
    <!--defer-->
    <script type="text/javascript" src="{{root}}scripts/app.js"></script>
    <!--enddefer-->
  </body>
</html>
